// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$db_orange: rgb(162, 74, 6);
$db_orange_bg: #a0460113;
$db_purple: #7012af
