// Specific CSS for your home-page
.image {
    vertical-align: middle;
    border-style: none;
    margin: auto;
    padding: 24px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0 , 0 , 0 , 0.1);
}
