// Specific CSS for your home-page
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}


.search {
  width: 25em;
  align-self: center;
  z-index: 10;
}

.my-banner {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(asset_path('image.jpg'));
  background-position: center;
  vertical-align: middle;
  border: 2px;
  object-fit: fill;
  background-size: cover;
  box-shadow: 0 10px 15px rgba(0 , 0 , 0 , 0.1);
  justify-content: center;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.container {
  text-align: center;
}

.text-homepage {
  color: white;
  text-align: center;
  text-shadow: 0px 0px 16px rgba(0 , 0 , 0 , 0.3);
}

// @media(max-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }
// @media(max-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }
