

.ship-intro{
  flex-wrap: wrap;
  padding: 20px;
  margin-left:230px ;
  margin-right:230px ;
  display: flex;
  justify-content: center;
  background-color: rgba(240, 229, 229, 0.24);
    #description {
      height: 250px;
      width: 400px;
      padding-top: 60px;
    }
}

.ship-owner-avatar{
  width:120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 40px;
}
.ship-page-bottom{

  gap: 100px;
  margin-left:230px ;
  margin-right:100px ;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  flex-wrap: wrap;
  background-color: rgba(240, 229, 229, 0.24);
}
#container{
  display: block;
}
.book-button a{
  background-color: rgba(85, 31, 31, 0.747);
  border-radius: 8px;
  padding: 20px;
  color: beige;
}
.book-button{
  padding: 60px 0px 60px 0px;
  
}
.back-button {
  padding: 60px 0px 60px 0px;
  border-radius: 8px;
  text-align: center;
}
