
  <div id= "inputWrapper">
    <div class="row justify-content-center">
    <input id="input" type="search here " autocomplete="off" spellcheck="false" role="combobox" aria-live="polite" placeholder="Search">
    </div>

      <%= image_tag "image.jpg" , class:"image" %>
  </div>
