<div class="my-banner">
  <div class="overlay"></div>

  <div class="home-page">
    <%= link_to pirate_ships_path, class: 'text-homepage', style: 'text-decoration: none; color: white;' do %>
      <h1>Tortuga Bay</h1>
      <h2>The parrfect ship <br>for all yer treasure hunting needs.</h2>
    <% end %>

    <div class= "search">
      <%= form_tag pirate_ships_path , method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "search-field",
          placeholder: "Choose your port?"
        %>
        <%= button_tag(type: "submit", class: "search-button") do %>
            <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>

  </div>

  </div>
