
  <div id= "inputWrapper">
    <div class="row justify-content-center">
    <input id="input" type="search here " autocomplete="off" spellcheck="false" role="combobox" aria-live="polite" placeholder="Search">
    <box-icon id="icon" in-searchbox background-image="search.svg"></box-icon>

    </div>

      <%= image_tag "image.jpg" , class:"image" %>
  </div>
