.nav-item {
  margin-right: 1em;
}

.navbar-white {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding: 0 1em;
}

.logo {
  height: 3em;
  width: 3em;
  object-fit: cover;
  margin: 0 0 8px 0;
}

.dropdown {
  display: flex;
  align-items: center;
}

.brand {
  margin-left: 1em;
  display: flex;
  justify-content: center;
  p {
    text-decoration: none;
    font-family: 'UnifrakturCook', cursive;
    font-size: 1.6rem;
    align-self: center;
    color: black;
    margin: 0;
  }
}

.navbar-white ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar-white li {
  list-style: none;
  padding: 0 0.5em;
  display: flex;
  align-items: center;
}

.navbar-link:hover {
  background-color: $db_orange_bg;
}

.navbar-white li a {
    text-decoration: none;
    color: black;
  }

.navbar-hide {
  display: none;
}

@media (max-width: 600px) {
  .navbar-link {
    display: none;
  }

  .navbar-hide {
    display: block;
  }

  .border-bottom {
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
}
